*{box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}
.header
{
    display: flex;
  justify-content: space-between;

  align-content: center;
  padding: 0.5rem 10%;
}
.iitrlogo
{
    width: 100%;
  max-width: 25rem;
  cursor: pointer;
}
.size_change
{
    display: flex;
  align-items: baseline;
  font-size: 0.75rem;
  justify-content: space-between;
  width: 3.5rem;
}
.theme
{
display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 4px;
}
.light-button
{color: black;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    font-family: var(--font-lato);
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    border: 2px solid #1A76BB;
    cursor: pointer;
  }
  .dark-button
  {
    color: white;
  width : 20px;
  height: 20px;
  border-radius: 2px;
  font-family : var(--font-lato);
  font-size: 1rem;
  line-height : 20px;
  text-align: center;
  background-color: #1A76BB;
  border: 2px solid #1A76BB;
  cursor: pointer;
  }
  .left_header
  {
    display: flex;
  justify-content: space-between;
  padding-bottom: 0.4rem;
  align-items: center;
  column-gap: 2rem;
  }
  .lang
  {
    width: 73px;
    height: 16px;
  }
 
.side
{display:block;
    margin: bottom -20px; ;
  }

.space
{
    width:40px;
}
.hyperlink
{
    display:flex;
    font-family : var(--font-lato);
    margin-top: -15px;
}
.symbol
{
    width:15px;
    height: 15px
}

.burger-image
{
  height: 40px;
  width: 40px;
}



.navbar-menu {
    display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.navbar-menu li {
  margin-right: 10px;
}

.navbar-menu a {
  color: black;
  text-decoration: none;
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.burger {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
}
.navbar
{display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: 1rem;}
    .space1
    {width: 20px;}
    .banner
    {
        overflow: hidden;
        padding: 90px;
        background-color: #5183B8;
        color: white;
        padding-bottom: 60px;
    
    }
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      text-align: center;
    }
    
    @media (min-width: 768px) {
      .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px; 
        padding: 90px;
      }
    }
    

      
      .grid-item
      {
        justify-content: center;
        text-align: center;
      }
      
      #map
      {
        width: 240px;
        height: 113px;
      }
      
      .left
      {
        justify-content: left;
      }
      
      .grey-rectangle
      {
        width:272px ;
        height: 184px;
        background-color: #C4C4C4;
      }
      
      .dil
      {
        width: 14px;
        height: 14px;
      }
      .space4
      {height:25px;}
      .space3
      {height: 20px;}
      .facebook-icon
      {
        margin-right: 10px;
      }

     
    
    .background-blue
    {
      
      position: absolute;
      height: 240px;
      background-color: #5183B8;
      width: 100vw;
      z-index: -1;
      top: 285px;
      top: 235px;
    
     
    
    }
    
    
    
    .main-container
    {
      position: relative;
    
    }
    
   
    .central-picture
{
  display: block;
  align-items: center;
  justify-content: center;
}
.yellow
{
  background-color: yellow;
  height: 5px;
  width: 60%; 
  
  margin-left: auto;
  margin-right: auto;
}



#fff
{
  width:105px;
  height:50px;
}

.imgian-year
{
  font-family: "Noto Sans", sans-serif;
  font-size: small;
  color: #666666;

}


.rishiraj
{
  align-items: center;
  justify-content: center;
 
  height: 450px;
  justify-content:center ;

}
.anshika
{

  height: 450px;

}


.imgian-info
{
    padding: 10px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  
}
.flex-items
{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
   
}
.blue{

  height :30px;
  width:30px;
  color: none;
  z-index: -30;

}
.central-picture
{
  position: relative;
}
@media screen and (max-width: 768px) {
  .flex-items {
    flex-direction: column;
  }
  
}
    .space5
    {height: 15px;}

    .container-background-blue
{
  position: relative;


}

.flex-center
{
  display: flex;
  align-self: center;
}

.info-padded
{
    padding: 90px;
    font-size: large;
    line-height: 1.6;
    padding-bottom: 70px;
    color: #666666;
}
.heading
{padding: 90px;
padding-top: 0;
color: #666666;}


.background-blue2
{
  
  position: absolute;
  padding-top: 18px;
  height: 272px;
  background-color: #5183B8;
  width: 100vw;
  z-index: -1;
  top: 145px;
  overflow-x: auto;
 

}
#exp3
{
    padding-top: 0;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color:white;
      width: 100%;
      top: 60px;
      left: 0;
      text-align: center;
  }

  .navbar-menu.show {
      display: block;
  }

  .navbar-menu a {
      padding: 15px 0;
      margin: 0;
      display: block;
  }

  .navbar-toggler {
      display: block;
  }
  .navbar-menu .symbol {
    margin-left: 5px; 
    vertical-align: middle; 
}
}





a
{
    padding: 2px;
}

.end
{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

#p_image
{
  filter: grayscale(100%);
  transition: filter 0.5s;
}
#p_image:hover {
  filter: grayscale(0%);
}
#info_1
{
margin-top: -58px;
}
#info_2
{
  margin-top: -50px; 
}
#info_3
{
  margin-top: -52px;
}
#info_4
{
  margin-top:-22px ;
}
#info_5
{margin-top: -17px;
  
}
#info_6
{
  margin-top:-23px ;
}
#info_8
{
  margin-top:12px ;
}
#info_9
{
  margin-top:5px ;
}

#info_7
{
  margin-top:6px ;
  

}
.end_bar_1
{
  width: 100vw;
  height: 36px;
  background-color: #E7E7E7;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.left_side_footer
{display: flex;
  justify-content: space-between;
  width:500px;
  padding-left: 78px;


}
.right_side_footer
{
  width:fit-content;
  padding-right:200px;
}
.last_bar
{
  width: 100vw;
  height: 36px;
  background-color:black;
  display: flex;
  align-items: center;
}
.content
{
  color:#EEEEEE;
  padding-left: 78px;
}
.blue{position: absolute;
 
  padding-top: 18px;
  height: 272px;
width: 20px;
  z-index: -1;
  top: 145px;
 
}
@media (max-width: 768px) {
.blue {
  padding-top: 18px;
  height: 250px;
background-color: #5183B8;
  width: 100vw;
  z-index: -1;
  top: 145px;
}}